* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set up the body */

body {
  font-family: sans-serif;
  background-image: linear-gradient(
    to right top,
    #972fa1,
    #862fa1,
    #7660b2,
    #6860b2,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #308cd8,
    #308cd8,
    #0049a8,
    #004ea8
  );
}

/* Styling header */

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}

/* Ajust the logo  */
#header-img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  top: 12px;
  left: 34px;
  z-index: 100;
}

/* The navigation bar */
#nav-bar {
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.nav-link {
  float: right;
  display: block;
  color: rgb(70, 67, 83);
  text-align: center;
  padding: 36px 30px;
  text-decoration: none;
}

/* Change background on mouse-over */
#nav-bar a[href="#products"]:hover {
  background: #2f53a1;
  /* color: black; */
}

#nav-bar a[href="#video"]:hover {
  background: rgb(245, 245, 245);
  /* color: black; */
}

#nav-bar a[href="#pricing"]:hover {
  background: #9530d8;
  /* color: black; */
}

/* positioning form */
#form {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

/* styling e-mail */
#email {
  border-radius: 1em;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border-color: black;
}

/* styling submit */
#submit {
  border-radius: 1em;
  padding: 5px;
  margin-top: 10px;
  font-size: 1em;
  color: whitesmoke;
  outline: none;
  background-color: black;
  border-color: black;
}

#buynow {
  border-radius: 1em;
  padding: 5px;
  margin-top: 10px;
  font-size: 1em;
  outline: none;
  color: white;
  background-color: black;
}

/* Styling texts */
#products {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.content {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  grid-gap: 60px;
  color: black;
}
/* styling video */

#video {
  display: block;
  margin: auto;
}

/* Styling pricing */

#pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.computers {
  padding: 2%;
  border: 1px solid black;
  margin: 50px;
  text-align: center;
  color: black;
  line-height: 200%;
  flex: 1 1 0px;
  background-color: white;
}

h4 {
  font-family: "Lucida Sans";
  font-size: x-large;
}

/* Styling footer */
footer {
  text-align: right;
  background-color: white;
  color: rgb(63, 56, 56);
}

.foot {
  margin-right: 90px;
  line-height: 200%;
  font-size: 0.8em;
}

.foot > a {
  padding-left: 20px;
}

/* medias */

@media (max-width: 600px) {
  #header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding-top: 80px;
  }

  #products {
    margin-top: 0px;
    padding-top: 50px;
  }

  .content {
    display: flex;
    padding-top: 0.5rem;
    align-items: flex-start;
    justify-content: center;
    height: 125px;
    width: 20vw;
  }

  #pricing {
    display: flex;
    flex-direction: column;
  }
}
